<div class="g-mobile-modal">
    <div class="row mx-auto mt-5">
        <div class="ml-auto" (click)="handleCancelClick()">
            <img src="../../assets/icons/close-grey.svg" height="20px" />
        </div>
    </div>

    <div class="text-center">
        <h2>Remove Office</h2>
        <h4>Are you sure you want to remove? {{ data.name }}</h4>
    </div>

    <div class="d-flex mt-5">
        <button class="btn g-primary-bg" (click)="handleConfirmClick()" tabindex="1">
            Remove
        </button>
    </div>
</div>
