<div class="g-mobile-modal">
    <mat-dialog-content>
        <div class=" mx-auto mt-4">
            <div class="d-flex m-3">
                <h2 class="ml-auto">{{ data.action }} Office</h2>
                <div class="ml-auto" (click)="handleCancelClick()">
                    <img src="../../assets/icons/close-grey.svg" height="20px" />
                </div>
            </div>
            <form #officeForm="ngForm">
                <mat-form-field appearance="fill">
                    <mat-label>Office Colour</mat-label>
                    <mat-select [(ngModel)]="data.color" class="l-select" name="color">
                        <mat-option *ngFor="let colour of arColours" [value]="colour">
                            {{ colour }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="mx-auto col">
                    <mat-label>ID</mat-label>
                    <input matInput required name="name" [(ngModel)]="data.id" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mx-auto col">
                    <mat-label>Office Name</mat-label>
                    <input matInput required name="name" [(ngModel)]="data.name" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mx-auto col">
                    <mat-label>Email Address</mat-label>
                    <input matInput required name="email" [(ngModel)]="data.email" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mx-auto col">
                    <mat-label>Office tel</mat-label>
                    <input matInput name="tel" [(ngModel)]="data.tel" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mx-auto col">
                    <mat-label>Address</mat-label>
                    <input matInput required name="address" [(ngModel)]="data.address" />
                </mat-form-field>

                <mat-form-field appearance="fill" class="mx-auto col">
                    <mat-label>Maximum Occupants</mat-label>
                    <input type="number" matInput required name="maxO" [(ngModel)]="data.maxOccupants" />
                </mat-form-field>
            </form>
        </div>
    </mat-dialog-content>
    <div class="d-flex mt-5">
        <button class="btn g-primary-bg" (click)="handleConfirmClick()" [disabled]="officeForm.invalid" tabindex="1">
            Save Office
        </button>
    </div>
</div>
