<div class="d-flex my-3 mx-2 p-2 l-office-card">
    <span class="mx-2">04/20</span>
    <div class="d-flex flex-column mx-3 flex-fill">
        <div class="d-flex">
            <span>Office Name</span>
            <button class="btn ml-auto">
                <mat-icon aria-hidden="false" aria-label="Menu Icon">more_vert</mat-icon>
            </button>
        </div>
        <span>Address</span>
        <div class="d-flex">
            <span>info@office.com</span>
            <span class="ml-auto">089 545 3698</span>
        </div>
    </div>
</div>
