.l-add-staff {
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: #eeeeee 3px 6px 16px;
}

.l-container {
    // background-color: #eeeeee;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.l-search {
    box-shadow: #eeeeee 3px 6px 16px;
    border-radius: 10px;
}

.l-form-control {
    border: none;
}

.l-person {
    background-color: #3266a8;
    border-radius: 30px;
    height: 45px;
    width: 45px;
}

.l-staff-card {
    box-shadow: #eeeeee 3px 6px 16px;
    border-radius: 10px;
}
