<div class="g-mobile-container">
    <div class="l-container g-primary-bg">
        <div class="p-4 clickable d-flex" (click)="handleBackToHome()">
            <img src="../../assets/icons/back-white.svg" alt="arrow" height="30px" class="my-auto" />
            <h1 class="text-white my-auto ml-4">{{ obOffice.name }}</h1>
        </div>
        <div class="l-header text-white d-flex flex-column mb-4 pb-3">
            <span class="px-3 my-2">Address: {{ obOffice.address }}</span>
            <span class="px-3 my-2">Email: {{ obOffice.email }}</span>
            <span class="px-3 my-2">Tel: {{ obOffice.tel }}</span>
            <span class="px-3 my-2">Max Capacity: {{ obOffice.maxOccupants }}</span>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div class="input-group mb-3 l-search mx-4">
            <input
                (keyup)="handleSearch(searchString)"
                [(ngModel)]="searchString"
                type="text"
                class="form-control l-form-control py-4"
                placeholder="Search..."
                aria-label="Search"
            />
            <img src="../../assets/icons/search-black.svg" alt="search" height="25px" class="mx-2 my-auto" />
        </div>
    </div>
    <div class="d-flex mx-5">
        <span class="my-auto">Staff Members {{ numOfStaff }}/{{ obOffice.maxOccupants }}</span>
        <button (click)="handleAddStaff()" class="btn l-add-staff ml-auto my-auto">Add Staff</button>
    </div>

    <div *ngFor="let obStaff of arFilteredStaff">
        <div class="d-flex my-3 mx-2 p-2 l-staff-card">
            <div class="l-person mx-2 text-center">
                <img src="../../assets/icons/person-white.svg" alt="person icon" height="40px" />
            </div>
            <span class="align-self-center">{{ obStaff.name }} {{ obStaff.surname }}</span>
            <button
                id="office-menu"
                mat-icon-button
                [matMenuTriggerFor]="staffMenu"
                (menuClosed)="handleChangeButton()"
                class="btn ml-auto align-self-center"
                (click)="handleChangeButton()"
            >
                <mat-icon *ngIf="!isOpen" aria-hidden="false" aria-label="Manu Icon">more_vert</mat-icon>
                <img *ngIf="isOpen" src="../../assets/icons/close.svg" alt="close" height="30px" />
            </button>
        </div>

        <mat-menu #staffMenu="matMenu" xPosition="before">
            <button (click)="handleEditStaff(obStaff)" mat-menu-item id="edit-office" class="">
                Edit
            </button>
            <button (click)="handleRemoveStaff(obStaff)" mat-menu-item id="remove-office" class="">
                Remove
            </button>
        </mat-menu>
    </div>
</div>
