.l-btn {
    border-radius: 10px;
    background-color: white;
}

.l-side-card {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.l-office-card {
    box-shadow: #eeeeee 3px 6px 16px;
    border-radius: 10px;
}

.l-blue-text {
    color: rgb(37, 179, 223);
    font-size: 0.7rem;
}

.l-office {
    font-weight: 400;
}
