<div class="g-mobile-container">
    <nav class="navbar g-primary-bg d-flex">
        <span class="navbar-brand text-white">Offices</span>
        <button (click)="handleAddOffice()" class="btn ml-auto l-btn">Add Office</button>
    </nav>

    <div *ngFor="let obOffice of arOffices">
        <div class="d-flex my-3 mx-2 l-office-card clickable">
            <div class="d-flex flex-column justify-content-center g-primary-bg l-side-card px-4">
                <img src="../../assets/icons/person-white.svg" alt="person icon" height="40px" />
                <span class="mx-auto my-1 text-white">{{ numOfStaff }}/{{ obOffice.maxOccupants }}</span>
            </div>
            <div class="d-flex flex-column mx-3 flex-fill">
                <div class="d-flex pt-2">
                    <h4 class="mb-0 align-self-center">{{ obOffice.name }}</h4>

                    <button
                        id="office-menu"
                        mat-icon-button
                        [matMenuTriggerFor]="officeMenu"
                        (menuClosed)="handleChangeButton()"
                        class="btn ml-auto pr-0"
                        (click)="handleChangeButton()"
                    >
                        <mat-icon *ngIf="!isOpen" aria-hidden="false" aria-label="Manu Icon">more_vert</mat-icon>
                        <img *ngIf="isOpen" src="../../assets/icons/close.svg" alt="close" height="30px" />
                    </button>
                </div>
                <div (click)="handleOfficeClick(obOffice)">
                    <h5 class="text-muted l-office">{{ obOffice.address }}</h5>
                    <div class="d-flex l-blue-text pb-2">
                        <span>{{ obOffice.email }}</span>
                        <img
                            src="../../assets/icons/phone.svg"
                            alt="person icon"
                            height="15px"
                            class="ml-auto px-2 my-auto"
                        />
                        <span class="">{{ obOffice.tel }}</span>
                    </div>
                </div>
            </div>

            <mat-menu #officeMenu="matMenu" xPosition="before">
                <button (click)="handleEditOffice(obOffice)" mat-menu-item id="edit-office" class="d-flex">
                    Edit
                    <img src="../../assets/icons/discharge-grey.svg" alt="edit" height="20px" class="ml-auto my-auto" />
                </button>
                <button (click)="handleRemoveOffice(obOffice)" mat-menu-item id="remove-office" class="d-flex">
                    Remove
                    <img src="../../assets/icons/remove-grey.svg" alt="edit" height="20px" class="ml-auto my-auto" />
                </button>
            </mat-menu>
        </div>
    </div>
</div>
