<div class="g-mobile-modal">
    <div class="d-flex m-3">
        <div class="ml-auto" (click)="handleCancelClick()">
            <img src="../../assets/icons/close-grey.svg" height="20px" />
        </div>
    </div>

    <div class="text-center">
        <h2>Remove Staff</h2>
        <h4>
            Are you sure you want to <span class="text-danger">remove</span><br />
            <h5 class="my-3">{{ data.name }}?</h5>
        </h4>
    </div>

    <div class="d-flex mt-5 justify-content-center">
        <button class="btn btn-danger mb-5 w-75 l-remove" (click)="handleConfirmClick()" tabindex="1">
            Remove
        </button>
    </div>
</div>
