<div class="g-mobile-modal">
    <div class="mx-auto mt-4">
        <div class="d-flex m-3">
            <h2 class="ml-auto">{{ data.action }} Staff</h2>
            <div class="ml-auto" (click)="handleCancelClick()">
                <img src="../../assets/icons/close-grey.svg" height="20px" />
            </div>
        </div>

        <form #officeForm="ngForm">
            <mat-form-field appearance="fill" class="mx-auto col">
                <mat-label>ID</mat-label>
                <input matInput required name="id" [(ngModel)]="data.id" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="mx-auto col">
                <mat-label>First Name</mat-label>
                <input matInput required name="name" [(ngModel)]="data.name" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="mx-auto col">
                <mat-label>Last Name</mat-label>
                <input matInput required name="surname" [(ngModel)]="data.surname" />
            </mat-form-field>
        </form>
    </div>

    <div class="d-flex mt-5 justify-content-center">
        <button
            class="btn py-2 text-white mb-5 w-75 l-save"
            (click)="handleConfirmClick()"
            [disabled]="officeForm.invalid"
            tabindex="1"
        >
            Save Staff
        </button>
    </div>
</div>
