/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'src/variables.scss';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.g-primary-bg {
    background-image: linear-gradient(#c6d4e9, #3266a8);;
}

.g-mobile-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.g-mobile-modal {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.clickable {
    cursor: pointer;
}

.mat-dialog-container {
    padding:0 !important;
}